$purple : #3f51b5;
$white : #ffffff;
$black : #000000;
$dark_grey : #666464;


$drawer-background: $purple;


//Clock Variables
$clock-text-color : white;
$clock-bg-color : #B5D0E2;
$clock-border-color : #2099E8;
